In [1]:
import pandas as pd
import os
import glob
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

% matplotlib qt

UsageError: Line magic function `%` not found.

In [2]:
euvs_dir = os.path.join(os.path.abspath(os.curdir),'..','EUVs')
euv_flag_files = glob.glob(os.path.join(euvs_dir,'*Flags*.dat'))
euv_dat_files = glob.glob(os.path.join(euvs_dir,'*Cnts*.dat'))
euv_dat_files,euv_flag_files

(['l:\\PhD\\TEC\\utilities\\..\\EUVs\\G15_EUVE_Cnts_2013.dat',
  'l:\\PhD\\TEC\\utilities\\..\\EUVs\\G15_EUVE_Cnts_2014.dat'],
 ['l:\\PhD\\TEC\\utilities\\..\\EUVs\\orig_G15_EUVE_Flags_2013.dat',
  'l:\\PhD\\TEC\\utilities\\..\\EUVs\\orig_G15_EUVE_Flags_2014.dat'])

In [3]:
# dat_file = euv_dat_files[0]

dat_df = pd.DataFrame()

for dat_file,flag_file in zip(euv_dat_files,euv_flag_files):
    with open(dat_file,'r') as file,open(flag_file,'r') as flag_file:
        year = re.findall(r'\d{4}',dat_file)[0]
        data_lines = file.readlines()[2:]
        flag_lines = flag_file.readlines()[2:]
        df_dict = {'datetime':[],'cnt':[],'flag':[],'year':[] } 
        for line,flag_line in zip(data_lines,flag_lines):

            d,t,c = line.split(" ")
            _,_,f = flag_line.split(" ")

            date = "{} {}".format(d,t)
            cnt = float(c.replace('\n',' '))
            flag = float(f.replace('\n',' '))

            df_dict['datetime'].append(date)
            df_dict['cnt'].append(cnt)
            df_dict['year'].append(year)
            df_dict['flag'].append(flag)

        dat_df = dat_df.append(pd.DataFrame(df_dict))

dat_df['datetime'] = pd.to_datetime(dat_df['datetime'])
# mask = (dat_df['flag'].shift(-3) != 0) | (dat_df['flag'].shift(3) != 0)
# mask = (dat_df['flag'].shift(-3) != 0) | (dat_df['flag'].shift(3) != 0)

# dat_df['cnt'].loc[mask] = np.nan
# dat_df['shift-5'] = dat_df['flag'].shift(-5)
# dat_df['shift+5'] = dat_df['flag'].shift(+5)
# mask = (dat_df['shift+5'] < 0) | (dat_df['shift+5'] > 0) | (dat_df['shift-5'] < 0) | (dat_df['shift-5'] > 0)


# dat_df['flag'].loc[mask] = np.nan
# dat_df['flag'] = dat_df['flag'] + 50000
# dat_df['cnt'].loc[mask] = np.nan
# dat_df['mask'] = [2000]*len(mask)
# dat_df['mask'].loc[mask] = 0

# dat_df['cnt_filtered'] = dat_df['cnt'].copy()
# mask = dat_df['flag'] > 0 #(dat_df['flag'] > 0) | (dat_df['flag'] < 0) | (dat_df['flag'] > 0) | (dat_df['flag'] < 0)
# dat_df['cnt_filtered'].loc[mask] = np.nan
# for s in range(0,15):
#     mask = mask | (dat_df['flag'].shift(-s) > 0) | (dat_df['flag'].shift(s) > 0)
#     pass
# for s in range(0,5):
#     mask = mask | (dat_df['flag'].shift(-s) < 0) | (dat_df['flag'].shift(s) < 0)
#     pass

# mask = mask | (dat_df['cnt_filtered'] < 50000)

# dat_df['cnt_filtered'].loc[mask] = np.nan

# dat_df['cnt_cp'] = dat_df['cnt'].copy()
# dat_df['cnt_cp'].loc[mask] = np.nan

dat_df

                       datetime      cnt  flag  year
0       2013-01-01 00:00:10.253  53111.0   0.0  2013
1       2013-01-01 00:00:20.493  53111.0   0.0  2013
2       2013-01-01 00:00:30.733  53111.0   0.0  2013
3       2013-01-01 00:00:43.020  53127.0   0.0  2013
4       2013-01-01 00:00:53.260  53111.0   0.0  2013
...                         ...      ...   ...   ...
2848665 2014-12-31 23:59:14.217  52743.0   0.0  2014
2848666 2014-12-31 23:59:24.457  52743.0   0.0  2014
2848667 2014-12-31 23:59:34.697  52743.0   0.0  2014
2848668 2014-12-31 23:59:46.983  52759.0   0.0  2014
2848669 2014-12-31 23:59:57.223  52759.0   0.0  2014

[5687452 rows x 4 columns]

In [11]:
# dat_df['cnt_inter'] = dat_df['cnt'].interpolate(method='slinear')
# dat_df['cnt_inter'] = dat_df['cnt_filtered'].fillna(0)
# dat_df.plot(x='datetime',y=['cnt_inter','cnt'],figsize=(18,7))
# dat_df.plot(x='datetime',y='cnt_filtered',figsize=(18,7))
# dat_df.plot(x='datetime',y='cnt_inter',figsize=(18,7))

# dat_df.plot(x='datetime',y=['flag','shift-5','shift+5','mask'],figsize=(18,7))
# dat_df.plot(x='datetime',y=['cnt','flag'],figsize=(18,7))
# dat_df.plot.scatter(x=['datetime','datetime'],y=['flag','cnt'],figsize=(18,7))
# dat_df.plot.scatter(x='datetime',y='cnt',figsize=(18,7))

# plt.show()

In [5]:
# import xarray

# ds = dat_df.set_index(['datetime']).to_xarray()

# ds = dat_df.to_xarray()
# ds.to_netcdf('test.nc')
dat_df.to_csv('euvs_2013_2014.csv')

In [6]:
dfcsv = pd.read_csv('euvs_2013_2014.csv')
dfcsv

,Unnamed: 0,datetime,cnt,flag,year,cnt_filtered,cnt_inter
0,0,2013-01-01 00:00:10.253,53111.0,0.0,2013,53111.0,53111.0
1,1,2013-01-01 00:00:20.493,53111.0,0.0,2013,53111.0,53111.0
2,2,2013-01-01 00:00:30.733,53111.0,0.0,2013,53111.0,53111.0
3,3,2013-01-01 00:00:43.020,53127.0,0.0,2013,53127.0,53127.0
4,4,2013-01-01 00:00:53.260,53111.0,0.0,2013,53111.0,53111.0
...,...,...,...,...,...,...,...
5687447,2848665,2014-12-31 23:59:14.217,52743.0,0.0,2014,52743.0,52743.0
5687448,2848666,2014-12-31 23:59:24.457,52743.0,0.0,2014,52743.0,52743.0
5687449,2848667,2014-12-31 23:59:34.697,52743.0,0.0,2014,52743.0,52743.0
5687450,2848668,2014-12-31 23:59:46.983,52759.0,0.0,2014,52759.0,52759.0
5687451,2848669,2014-12-31 23:59:57.223,52759.0,0.0,2014,52759.0,52759.0